POSTGRES_ADMIN_USER=dbadmin
POSTGRES_ADMIN_PASSWORD=change-me-postgres-admin-password

IDENTITY_DB_NAME=identity_db
IDENTITY_DB_USER=identity_user
IDENTITY_DB_PASSWORD=change-me-identity-db-password

CAMPAIGN_DB_NAME=campaign_db
CAMPAIGN_DB_USER=campaign_user
CAMPAIGN_DB_PASSWORD=change-me-campaign-db-password

RABBITMQ_USER=solidarity_user
RABBITMQ_PASSWORD=change-me-rabbitmq-password

PGADMIN_DEFAULT_EMAIL=admin@solidarityhub.com
PGADMIN_DEFAULT_PASSWORD=change-me-pgadmin-password

GRAFANA_ADMIN_PASSWORD=change-me-grafana-password
JWT_SECRET=change-me-local-dev-jwt-secret-with-at-least-32-chars

ZABBIX_DB_PASSWORD=change-me-zabbix-db-password

IDENTITY_ADMIN_SEED_ENABLED=false
IDENTITY_ADMIN_SEED_FIRST_NAME=Administrador
IDENTITY_ADMIN_SEED_LAST_NAME=ONG
IDENTITY_ADMIN_SEED_EMAIL=admin@conexaosolidaria.local
IDENTITY_ADMIN_SEED_PASSWORD=change-me-admin-seed-password
IDENTITY_ADMIN_SEED_CPF=52998224725
